<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HMS</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap3.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/bootstrap-custom.css" rel="stylesheet">
    <link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/css/bootstrap-timeline.css" rel="stylesheet">
    <link href="/css/ekko-lightbox.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet">
    <link href="/css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HMS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if isAllow([1,2,3,4,5,6,7,8,9]) %}
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if isAllow([1,2,3]) %}
                                <li><a href="/device">Devices</a></li>
                            {% endif %}
                            {% if isAllow([4,5,6]) %}
                                <li><a href="/location">Locations</a></li>
                            {% endif %}
                            {% if isAllow(7) %}
                                <li><a href="/user">Users</a></li>
                            {% endif %}
                            {% if isAllow([8,9]) %}
                                <li><a href="/role">Roles</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Devices <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/device/my">My</a></li>
                    </ul>
                </li>
                {% if isAllow([10,11,12,13]) %}
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Orders <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/order">All</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if isAllow(14) %}
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/log">Logs</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    {% block body %}{% endblock %}
</div>
<!-- /container -->
<div class="footer">
    <span  class="left">All contributions will be licensed under <a href="http://opensource.org/licenses/MIT">The MIT License</a> 2015 - {{ "now"|date("Y") }} </span> <span  class="right">v. {{ constant('\\Common\\Version::version')}}</span>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap-tagsinput.min.js"></script>
<script src="/js/ekko-lightbox.min.js"></script>
<script src="/js/select2.full.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/app.js"></script>


</body>
</html>
