Hello.
<br>
<h3>You have a new order for device in your dojo.</h3>
Device name: {{ device }}<br>
User who order: {{ user }}<br>
<br>
<br>
-----------<br>
Message sent automatically, please do not reply.