
{% extends "base.twig" %}

{%block body%}

      
      <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-21-start" type="text/x-placeholder"></script>

    <div class="container text-center">
        <form class="form-signin" data-ember-action="2">
            <h2 class="form-signin-heading">Sign in</h2>

            
<p>
    <a class="btn btn-primary social-login-btn social-google" href="/login/redirect">
        <img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png" alt="" />
    </a>
</p>

{%endblock%}
