{% extends "base.twig" %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Set yours location</div>
  <div class="panel-body">
    {{form|raw}}
  </div>
</div>
{% endblock %}
