{% extends _request.isAjax ? "base_blank.twig" : "base_logged.twig" %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/order">Orders</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Add
                </li>
            </ol>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills nav-justified thumbnail">
                    <li class="active"><a href="#">
                            <h4 class="list-group-item-heading">Step 1</h4>

                            <p class="list-group-item-text">Select device</p>
                        </a></li>
                    <li class="disabled"><a href="#">
                            <h4 class="list-group-item-heading">Step 2</h4>

                            <p class="list-group-item-text">Contact with current owner</p>
                        </a></li>
                    <li class="disabled"><a href="#">
                            <h4 class="list-group-item-heading">Step 3</h4>

                            <p class="list-group-item-text">Apply order</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <DIV class="row">
        {{ form|raw }}
    </DIV>
    <!-- /.row -->
{% endblock %}
